<h2>Crear Género</h2>


<form [formGroup]="form" (submit)="onGuardar()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <mat-error>{{nombreGetErrors()}}</mat-error>
        <input formControlName="nombre" matInput/>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Guardar</button>
        <a mat-stroked-button routerLink="/generos">Cancelar</a>
    </div>
    
</form>

