<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="">
            <mat-icon>local_movies</mat-icon>Listado de películas
        </a>
    </span>
<div>
    <a mat-button routerLink="generos">Géneros</a>
</div>

<div>
    <a mat-button routerLink="actores">Actores</a>
</div>

<div>
    <a mat-button routerLink="cines">Cines</a>
</div>

<div>
    <a mat-button routerLink="peliculas/crear">Crear Película</a>
</div>


</mat-toolbar>
