<div *ngIf="!listado">
    <div #loading>
        <ng-content select="[customized-loading]"></ng-content>
    </div>
    <span *ngIf="!loading.innerHTML.trim()">
        <img src="https://cutewallpaper.org/21/loading-animated-gif-transparent-background/Mis-Home.gif" 
        alt="loading...">
    </span>
    
</div>

<div *ngIf="listado?.length===0">
    <spam>Pruebas: {{emptyListMessage}}</spam>
</div>

<ng-container *ngIf="listado">

    <ng-content select="[contenido-lista]"></ng-content>

</ng-container>