<app-listado-generico
  [listado]="peliculas"
  [emptyListMessage]="'No hay peliculas'"
>
  <ng-container contenido-lista>
    <div class="peliculas-contenedor">
      <div
        *ngFor="let pelicula of peliculas; let position = index"
        class="pelicula-contenedor"
      >
        <a>
          <img [src]="pelicula.poster" alt="poster" />
        </a>
        <p>
          <a>{{ pelicula.titulo }}</a>
        </p>
        <div>
          <a mat-flat-button color="primary">Editar</a>
          <button mat-flat-button color="warn" type="button">Borrar</button>
        </div>
      </div>
    </div>
  </ng-container>
</app-listado-generico>
