.peliculas-contenedor{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.pelicula-contenedor{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

p{
    max-width: 225px;
    height: 44px;
    font-size: 1rem;
    font-weight: bold;
}

img {
    width: 225px;
    height: 300px;
}

button{
    margin-left: 1rem;
}
